* {
	padding: 1px;
	margin: 1px;
}
#header {
	margin: auto;
	width: 800px;
}
ul, ol{
	list-style: none;
}
.nav li a{
	background-color:brown;
	color: #FFF;
	text-decoration: none;
	padding: 5px;
	display:block;
	border: solid;	
	border-radius: 50px;
	border-color:#000;
}
.nav > li{
	float: left;
}
.nav li a:hover{
	background-color: #000000;
}